# Global
TZ=Europe/Paris

# Ports
GLPI_PORT=8080
NETBOX_PORT=8000
UPTIME_KUMA_PORT=3001

# GLPI database
GLPI_DB_HOST=glpi-db
GLPI_DB_PORT=3306
GLPI_DB_NAME=glpi
GLPI_DB_USER=glpi
GLPI_DB_PASSWORD=glpi_password

# MySQL / MariaDB for GLPI
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=glpi
MYSQL_USER=glpi
MYSQL_PASSWORD=glpi_password

# NetBox database
NETBOX_DB_NAME=netbox
NETBOX_DB_USER=netbox
NETBOX_DB_PASSWORD=netbox_password

# NetBox Redis
NETBOX_REDIS_PASSWORD=redis_password

# NetBox admin
NETBOX_SUPERUSER_EMAIL=admin@example.local
NETBOX_SUPERUSER_PASSWORD=admin_password
NETBOX_ALLOWED_HOST=localhost','127.0.0.1','netbox','nolter-netbox','host.docker.internal
NETBOX_CSRF_TRUSTED_ORIGINS="'http://localhost:8000','http://127.0.0.1:8000','http://netbox:8000','http://nolter-netbox:8000','http://host.docker.internal:8000'"

# Uptime Kuma
UPTIME_KUMA_DB_TYPE=sqlite